
header{
    padding: 0.5em 0.5em;
    height: 4em;
    position: sticky;
    background-color: whitesmoke;
    top: 0;

}


#flex_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 4em;

    justify-content: space-evenly;
}


#ggl_logo {
    width:  7em;
    height: 3em;
}



#searching_bar{
    border-radius: 15em;
    height: 2em;
    width: 25em;
}

#sign_in{
    background-color: rgb(25, 96, 202);
    height: 2em;
    width: 5em;
    border-radius: 20%;
}

#sign_in span{
    color: white;
}

#apps {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
#apps :hover{
    background-color: rgb(197, 194, 194);
}

div .main_navbar{
    display:flex;
    justify-content: space-evenly;
}

.main_navbar div ul{
    display: flex;
}

.main_navbar li{
    margin:0.5em;
}


@media (max-width: 634px){
    header{
        display: flex;
        width:100%;
        height: 8em;
        align-items: stretch;
    }

    #flex_header{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #main_navbar nav{
        display: flex;
    }

    .main_navbar li{
        margin:0.2em;
    }

    #video_part{
        display: flex;
        justify-content: center;
    }


}

body div main{
    margin: 1em 7em 1em 5em;
}

main{
    flex-direction: column;
    justify-content: space-around;
}

section{
    margin-top: 2em;
}

article{
    margin-top: 1.5em;
}

article p, article h2{
    margin: 0.3em 0em;
}

.headers_head p, article p{
    font-size: 0.9em;
}

.headers_head > h2 > a{
    text-decoration: none;
}


#section div p{
    font-size: 1.1em;
    font-weight: 500;
    margin: 0.5em;
}

#video_part{
    display: flex;
    flex-wrap: wrap;
}

#video_part div{
    background-color: thistle;
    margin: 1em;
}

#video_part video{
    background-color: yellowgreen;
}

#down {
    display:flex;
    color: darkslategray;
    font-style: italic;
    font-size: 0.8em;

}

table{
    width:20em;
}

#linked_table, th, td{
    padding: 0.4em 0em 0.4em 0.4em;
    border: 1px solid grey;    
}

table td span{
    float:right;
    background-color: khaki;
    padding-right:1em;
}

table th{
    text-align: left;
    font-size: 1.1em;
}




#grouped_buttons{
    display: flex;
    padding: 1em;
}

#grouped_buttons div{
    margin:0.2em;
}

#grouped_buttons button{
    border-radius: 35%;
}


#link_images{
    display: flex;
}

#link_images div{
    height: 7em;
    width: 4em;
    margin: 0.3em;
    background-color: lemonchiffon;
}

#btn_img_a a{
    text-decoration: none;
}